@using PROJE_UI.Models
@model User

@section css
{
    <style>
        main {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 70vh;
            margin: auto;
            padding: auto;
        }

        .rounded-form-container {
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 20px;
            width: 700px;
        }
    </style>
}

    <div class="rounded-form-container">
        <center><h1 class="text-danger">KULLANICI GİRİŞİ</h1></center>
        <form class="position-sticky" method="post" action="/User/Login">
            <div class="mb-3">
                <label for="Email" class="form-label">Email adresi</label>
                <input type="email" class="form-control" id="Email" aria-describedby="Email" name="Email">
            </div>
            <div class="mb-3">
                <label for="Password" class="form-label">Şifre:</label>
                <input type="password" class="form-control" id="Password" name="Password">
            </div>
            <center><button type="submit" class="btn btn-danger">Giriş Yap</button></center>
        </form>
    </div>

