@using PROJE_UI.Models
@model UserPaswordChange

@section css
{
    <style>
        main {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 70vh;
            margin: auto;
            padding: auto;
        }

        .rounded-form-container {
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 20px;
            width: 700px;
        }
    </style>
}

<div class="rounded-form-container">
    <center><h1 class="text-danger">ŞİFRE GÜNCELLE</h1></center>
    <form class="position-sticky" method="post" action="/User/UpdatePassword">
        <div class="mb-3">
            <label for="currentPassword" class="form-label">Eski Şifreniz</label>
            <input type="password" class="form-control" id="currentPassword" aria-describedby="Email" name="currentPassword">
        </div>
        <div class="mb-3">
            <label for="newPassword" class="form-label">Yeni Şifreniz:</label>
            <input type="password" class="form-control" id="newPassword" name="newPassword">
        </div>
        <center><button type="submit" class="btn btn-danger fw-bold mx-1">Şifre Güncelle</button></center>
    </form>
</div>
<div class="toast-container position-top  end-0 top-0 p-3">
    <!-- Second Toast -->
    <div id="errorToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg bg-danger">
            <strong class="me-auto text-white">Mesaj</strong>
            <button type="button" class="btn-close color-white" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body text-bg-danger">
            <strong> @TempData["ErrorUpdatePassword"]</strong>
           
        </div>
    </div>
</div>
@if (TempData["ErrorUpdatePassword"] != null)
{
    <script>
        $(document).ready(function () {
            $('#errorToast').toast({
                animation: false,
                delay: 5000
            });
            $('#errorToast').toast('show');
        });
    </script>
}
