@using PROJE_UI.Models;
@model PROJE_UI.ViewModels.BiletSatisViewModel;

@await Component.InvokeAsync("Slidebar")
<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-8 entries">
                <article class="entry">
                    <center><h1 class="text-danger">MÜZE BİLETİ SATIN AL</h1></center>
                    <label>Şehir Seçiniz:</label>
                    <select id="selectCity" class="form-select form-select-lg mb-3" aria-label="Large select example">
                        <option selected disabled>Bir İl Seçiniz</option>
                        @foreach (var item in Model.Cities)
                        {
                            <option value="@item.CityName.ToLower()">@item.CityName.ToUpper()</option>
                        }
                    </select>

                    <label>İlçe Seçiniz:</label>
                    <select id="selectDistrict" class="form-select form-select-lg mb-3" aria-label="Large select example">
                        <option selected disabled>Bir İlçe Seçiniz</option>
                        @foreach (var item in Model.Districts)
                        {
                            <option value="@item.DistrictName.ToLower()">@item.DistrictName.ToUpper()</option>
                        }
                    </select>

                    <button asp-controller="Bilet" asp-action="BlogDetails" class="btn btn-danger">
                        <i class="fas fa-arrow-left"></i> Geri
                    </button>
                    <button onclick="redirectToMuseum()" class="btn btn-danger float-end">
                        İleri <i class="fas fa-arrow-right"></i>
                    </button>
                </article>
            </div>

            @await Component.InvokeAsync("AnnouncementDetails")
        </div>
    </div>
</section>
@section script{
<script>
    function redirectToMuseum() {
        var selectedCityName = document.getElementById('selectCity').value;
        var selectedDistrictName = document.getElementById('selectDistrict').value;
        var xhr = new XMLHttpRequest();
        var url = '/Bilet/MuseumDetails?city=' + selectedCityName + '&district=' + selectedDistrictName;
        xhr.open('GET', url, true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                console.log(xhr.responseText);
                window.location.href = url;
            }
        };

        xhr.send();
    }
</script>
}