@using PROJE_UI.Models
@model List<Museum>
@await Component.InvokeAsync("Slidebar")
<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-8 entries">
                <article class="entry">
                    <center><h1 class="text-danger">MÜZE BİLETİ SATIN AL</h1></center>

                    <label for="museumSelect">Müze Seçiniz:</label>
                    <select id="museumSelect" class="form-select" aria-label="Select museum">
                        <option selected disabled>Bir Müze Seçiniz</option>
                        @foreach (Museum item in Model)
                        {
                            <option value="@item.name.ToLower()">@item.name</option>
                        }
                    </select>

                    <div id="museumDetails">
                        <!-- Seçilen müze detayları burada gösterilecek -->
                    </div>

                </article>
            </div>

            @await Component.InvokeAsync("AnnouncementDetails")
        </div>
    </div>
</section>

@section script {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var museumSelect = document.getElementById('museumSelect');
            var museumDetails = document.getElementById('museumDetails');

            var museums = @Html.Raw(Json.Serialize(Model));

            museumSelect.addEventListener('change', function () {
                var selectedMuseumName = this.value;
                showMuseumDetails(selectedMuseumName);
            });

            function showMuseumDetails(selectedMuseumName) {
                museumDetails.innerHTML = ""; 
                var selectedMuseum = museums.find(m => m.name.toLowerCase() === selectedMuseumName.toLowerCase());
                if (selectedMuseum) {
                    museumDetails.innerHTML += "<h2>" + selectedMuseum.name + "</h2>";
                    museumDetails.innerHTML += "<p>" + selectedMuseum.description + "</p>";
                    museumDetails.innerHTML += "<p><strong>Adresi:</strong> " + selectedMuseum.address + "</p>";
                    museumDetails.innerHTML += "<p><strong>Çalışma Saatleri:</strong> " + selectedMuseum.workingTime + "</p>";
                    museumDetails.innerHTML += "<p><strong>Konumu:</strong> Latitude " + selectedMuseum.latitude + ", Longitude " + selectedMuseum.longitude + "</p>";
                    museumDetails.innerHTML += "<p><strong>İletişim:</strong> Phone:" + selectedMuseum.phone + ", Email: " + selectedMuseum.email + "</p>";
                    museumDetails.innerHTML += "<p><strong>Website:</strong> " + selectedMuseum.website + "</p>";
                    museumDetails.innerHTML += "<p><strong>Şehir:</strong> " + selectedMuseum.city + ", <strong>İlçe:</strong> " + selectedMuseum.district + "</p>";
                }
            }
        });
    </script>
}