@using PROJE_UI.Models
@model User

@section css
{
    <style>
        main {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 70vh;
            margin: auto;
            padding: auto;
        }

        .rounded-form-container {
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 20px;
            width: 700px;
        }
    </style>
}

<div class="rounded-form-container">
    <center><h1 class="text-danger">ÜYE OL</h1></center>
    <form class="position-sticky" method="post" action="/Bilet/UserDetails">
        
        <div class="mb-3">
            <label for="Name" class="form-label">Ad:</label>
            <input type="text" class="form-control" id="Name" name="Name">
        </div>
        <div class="mb-3">
            <label for="SurName" class="form-label">Soyad:</label>
            <input type="text" class="form-control" id="SurName" name="SurName">
        </div>
        <div class="mb-3">
            <label for="Email" class="form-label">Email adresi:</label>
            <input type="email" class="form-control" id="Email" aria-describedby="Email" name="Email">
        </div>
        <div class="mb-3">
            <label for="Birthdate" class="form-label">Doğum Tarihi:</label>
            <input type="date" class="form-control" id="Birthdate" name="Birthdate">
        </div>
        <center>
            <button type="submit" class="btn btn-danger fw-bold mx-1">Kaydet</button>
            <button type="reset" class="btn btn-danger fw-bold mx-1">Temizle</button>
        </center>
    </form>
</div>