@await Component.InvokeAsync("Slidebar")
<section id="blog" class="blog">

    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-lg-8 entries">
                <article class="entry">
                    <center><h1 class="text-danger">MİSYONUMUZ</h1></center>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi laoreet purus est, sodales porta arcu scelerisque sit amet. Suspendisse elit mauris, fringilla eget orci porta, lacinia porta risus. Mauris sollicitudin semper orci. Cras convallis molestie libero, tincidunt feugiat ligula lobortis eu. Sed sit amet leo a lacus iaculis luctus. Vivamus a lorem vitae eros consectetur sagittis id at magna. Cras sagittis scelerisque mi, id hendrerit odio aliquet sed. Phasellus vestibulum venenatis consectetur. Donec efficitur, lacus vel aliquam interdum, purus orci consequat neque, eu tempus odio magna in nisi. Etiam massa tellus, iaculis eget aliquet at, sagittis eu leo. Proin in ligula id eros molestie commodo quis vehicula purus. Integer euismod eget urna id ullamcorper. Vivamus sit amet erat at ipsum fringilla rutrum. Morbi volutpat purus at dui dignissim gravida et rutrum justo.
                    </p>

                    <p>
                        Proin hendrerit convallis ante et dapibus. Pellentesque dignissim nunc vel libero rutrum varius. Nunc nec imperdiet urna, ac imperdiet dolor. Integer et tempus nulla. Integer tincidunt pharetra convallis. Cras libero diam, laoreet vel quam at, lobortis sollicitudin sapien. Praesent varius, diam luctus tincidunt mattis, ipsum est bibendum risus, vitae blandit purus leo sit amet felis. Quisque scelerisque mauris et mi finibus ultricies. Praesent pellentesque sapien et purus ultricies mattis. Integer non vulputate nunc. Proin interdum tellus non libero aliquam, sed congue mi rhoncus. Aliquam a congue urna, nec mattis libero. Phasellus nulla dolor, pretium sed accumsan a, consequat at ipsum. Quisque ut lacus diam. Nullam vel tristique ipsum, vel faucibus sapien.
                    </p>
                    <p>
                        Aenean eu imperdiet ipsum, at pellentesque eros. Aliquam posuere tellus ut nisi efficitur lacinia. Donec ut odio tincidunt, tempor ex ac, tristique sem. Pellentesque ullamcorper urna vel porttitor iaculis. Vivamus rutrum justo at diam lacinia, sed imperdiet libero auctor. Phasellus rutrum odio vel nisi placerat venenatis. Praesent mattis lacinia ipsum eu sollicitudin. Maecenas vel leo mauris. Duis vulputate, enim ut laoreet varius, metus lorem tincidunt nisl, in laoreet orci mauris quis massa. Sed tempor, enim eget dapibus dictum, mi tellus tempor magna, a hendrerit tellus dui quis arcu. Donec efficitur id ex ut efficitur. Ut a dolor at felis placerat semper.
                    </p>
                </article>
            </div>
            @await Component.InvokeAsync("AnnouncementDetails")
        </div><!-- End sidebar -->
    </div>

</section>