@await Component.InvokeAsync("Slidebar")
<section id="team" class="team section-bg">
    <div class="container">

        <div class="col-lg-12 entries">
            <article class="entry">
                <center><h1 class="text-danger">BİZ KİMİZ?</h1></center>
                <p align="justify">
                    In suscipit neque ac urna dignissim aliquet. Cras tortor arcu, fermentum ut eros in, vulputate consequat enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nam sollicitudin nisi eu urna elementum mattis eu eu urna. Donec euismod mauris justo, a rhoncus arcu consequat sed. Fusce ac urna vel orci consequat viverra. Fusce metus enim, tristique vel turpis non, finibus dignissim nisl. Donec vitae tellus scelerisque eros sodales feugiat et sit amet tortor. Morbi ornare odio sit amet justo tempus blandit. Maecenas ligula purus, finibus non est nec, pellentesque tincidunt enim. Suspendisse bibendum egestas eros, eu ultrices diam sodales at. Nulla dignissim purus massa, eu aliquet arcu malesuada eu. Mauris sagittis massa augue, sed hendrerit velit fermentum quis. Nunc eget sodales purus, vel varius elit.
                </p>
                <p align="justify">
                    Aenean sollicitudin eget urna at pharetra. Morbi ac pharetra dolor, vitae posuere felis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In eleifend elit mauris, vel suscipit dolor volutpat in. Quisque malesuada justo in nibh tincidunt sagittis. Nam pellentesque augue in nibh interdum mollis. Suspendisse pretium, mi eu mattis congue, purus massa posuere quam, eget elementum lorem justo ac risus. Nunc varius ex leo, sit amet lobortis massa efficitur in. Nam at ullamcorper erat. Vivamus suscipit ipsum a libero fermentum porta. Aliquam non fringilla urna. Ut lobortis ligula vel mi egestas eleifend. Fusce non sapien finibus, rhoncus mauris non, vulputate neque.
                </p>
                <p align="justify">
                    Proin hendrerit convallis ante et dapibus. Pellentesque dignissim nunc vel libero rutrum varius. Nunc nec imperdiet urna, ac imperdiet dolor. Integer et tempus nulla. Integer tincidunt pharetra convallis. Cras libero diam, laoreet vel quam at, lobortis sollicitudin sapien. Praesent varius, diam luctus tincidunt mattis, ipsum est bibendum risus, vitae blandit purus leo sit amet felis. Quisque scelerisque mauris et mi finibus ultricies. Praesent pellentesque sapien et purus ultricies mattis. Integer non vulputate nunc. Proin interdum tellus non libero aliquam, sed congue mi rhoncus. Aliquam a congue urna, nec mattis libero. Phasellus nulla dolor, pretium sed accumsan a, consequat at ipsum. Quisque ut lacus diam. Nullam vel tristique ipsum, vel faucibus sapien.
                </p>
                <p align="justify">
                    Aenean eu imperdiet ipsum, at pellentesque eros. Aliquam posuere tellus ut nisi efficitur lacinia. Donec ut odio tincidunt, tempor ex ac, tristique sem. Pellentesque ullamcorper urna vel porttitor iaculis. Vivamus rutrum justo at diam lacinia, sed imperdiet libero auctor. Phasellus rutrum odio vel nisi placerat venenatis. Praesent mattis lacinia ipsum eu sollicitudin. Maecenas vel leo mauris. Duis vulputate, enim ut laoreet varius, metus lorem tincidunt nisl, in laoreet orci mauris quis massa. Sed tempor, enim eget dapibus dictum, mi tellus tempor magna, a hendrerit tellus dui quis arcu. Donec efficitur id ex ut efficitur. Ut a dolor at felis placerat semper.
                </p>
            </article>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="~/assets/img/team/team-1.jpg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Walter White</h4>
                        <span>Chief Executive Officer</span>
                        <p>Explicabo voluptatem mollitia et repellat</p>
                        <div class="social">
                            <a href=""><i class="ri-twitter-fill"></i></a>
                            <a href=""><i class="ri-facebook-fill"></i></a>
                            <a href=""><i class="ri-instagram-fill"></i></a>
                            <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-4 mt-lg-0">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="~/assets/img/team/team-2.jpg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Sarah Jhonson</h4>
                        <span>Product Manager</span>
                        <p>Aut maiores voluptates amet et quis</p>
                        <div class="social">
                            <a href=""><i class="ri-twitter-fill"></i></a>
                            <a href=""><i class="ri-facebook-fill"></i></a>
                            <a href=""><i class="ri-instagram-fill"></i></a>
                            <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-4">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="~/assets/img/team/team-3.jpg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>William Anderson</h4>
                        <span>CTO</span>
                        <p>Quisquam facilis cum velit laborum corrupti</p>
                        <div class="social">
                            <a href=""><i class="ri-twitter-fill"></i></a>
                            <a href=""><i class="ri-facebook-fill"></i></a>
                            <a href=""><i class="ri-instagram-fill"></i></a>
                            <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-4">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="~/assets/img/team/team-4.jpg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Amanda Jepson</h4>
                        <span>Accountant</span>
                        <p>Dolorum tempora officiis odit laborum officiis</p>
                        <div class="social">
                            <a href=""><i class="ri-twitter-fill"></i></a>
                            <a href=""><i class="ri-facebook-fill"></i></a>
                            <a href=""><i class="ri-instagram-fill"></i></a>
                            <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

