@using PROJE_UI.Models;
@model Announcement

<!-- ======= Blog Single Section ======= -->
<section id="blog" class="blog">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Duyurular</h2>
                <ol>
                    <li><a href="/Home/Index"><i class="fas fa-home"></i> Anasayfa</a></li>
                    <li>Duyuru Detay</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->
    <div class="container" data-aos="fade-up">

        <div class="row">

            <div class="col-lg-8 entries">

                <article class="entry entry-single">
                    <h2 class="entry-title">
                        @Model.AnnouncementTitle.ToUpper()
                    </h2>
                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="#"><time datetime="2020-01-01"> @Model.CreateDate</time></a></li>
                        </ul>
                    </div>

                    <div class="entry-content">
                        <p>
                            @Model.AnnouncementContent
                        </p>

                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

<div class="toast-container position-top  end-0 top-0 p-3">
    <!-- Second Toast -->
    <div id="errorToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg bg-danger">
            <strong class="me-auto text-white">Mesaj</strong>
            <button type="button" class="btn-close color-white" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body text-bg-danger">
            <strong> @TempData["ErrorAnnouncementDetails"]</strong>
        </div>
    </div>
</div>

@if (TempData["ErrorAnnouncementDetails"] != null)
{
<script>
    $(document).ready(function () {
        $('#errorToast').toast({
            animation: false,
            delay: 5000
        });
        $('#errorToast').toast('show');
    });
</script>
}