

@await Component.InvokeAsync("Slidebar")

<section id="blog" class="blog">

    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-lg-8 entries">
                <article class="entry">
                    <h1 style="color:red;">Anasayfa</h1>
                    <p>
                        In suscipit neque ac urna dignissim aliquet. Cras tortor arcu, fermentum ut eros in, vulputate consequat enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nam sollicitudin nisi eu urna elementum mattis eu eu urna. Donec euismod mauris justo, a rhoncus arcu consequat sed. Fusce ac urna vel orci consequat viverra. Fusce metus enim, tristique vel turpis non, finibus dignissim nisl. Donec vitae tellus scelerisque eros sodales feugiat et sit amet tortor. Morbi ornare odio sit amet justo tempus blandit. Maecenas ligula purus, finibus non est nec, pellentesque tincidunt enim. Suspendisse bibendum egestas eros, eu ultrices diam sodales at. Nulla dignissim purus massa, eu aliquet arcu malesuada eu. Mauris sagittis massa augue, sed hendrerit velit fermentum quis. Nunc eget sodales purus, vel varius elit.
                    </p>
                    <p>
                        Aenean sollicitudin eget urna at pharetra. Morbi ac pharetra dolor, vitae posuere felis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In eleifend elit mauris, vel suscipit dolor volutpat in. Quisque malesuada justo in nibh tincidunt sagittis. Nam pellentesque augue in nibh interdum mollis. Suspendisse pretium, mi eu mattis congue, purus massa posuere quam, eget elementum lorem justo ac risus. Nunc varius ex leo, sit amet lobortis massa efficitur in. Nam at ullamcorper erat. Vivamus suscipit ipsum a libero fermentum porta. Aliquam non fringilla urna. Ut lobortis ligula vel mi egestas eleifend. Fusce non sapien finibus, rhoncus mauris non, vulputate neque.
                    </p>
                    <p>
                        Nullam varius dolor nec elit tempor mollis. Aliquam quis purus eu diam scelerisque cursus. Donec metus lacus, dignissim quis mollis eget, facilisis sed purus. Nam vehicula quam turpis, vel fermentum ligula laoreet a. Mauris ornare, arcu nec mollis ultricies, justo ipsum dapibus nisl, ac porta enim orci eu quam. Praesent et ipsum semper, semper tellus varius, convallis lorem. Phasellus ac ante justo. Maecenas fringilla tellus eu ante hendrerit, vel auctor ligula efficitur. Integer feugiat risus at dui gravida efficitur. Praesent blandit libero a lectus congue, sed gravida elit pretium. Curabitur blandit, ipsum vitae eleifend bibendum, magna arcu feugiat arcu, quis dapibus orci augue varius mi. Morbi eget odio a arcu sodales tempus. Nullam eu pretium sem, sit amet auctor erat. Quisque turpis lorem, eleifend ut fermentum in, elementum at ante. Morbi ornare quis orci at pulvinar. Mauris a viverra arcu.
                    </p>
                </article>
            </div>



            @await Component.InvokeAsync("AnnouncementDetails")
        </div><!-- End sidebar -->
    </div>
  
</section>
<div class="toast-container position-top  end-0 top-0 p-3">
    <!-- Second Toast -->
    <div id="successToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg bg-success">
            <strong class="me-auto text-white">Mesaj</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body text-bg-success">
            <strong> @TempData["SuccessDeleteUser"]</strong>
            <strong> @TempData["SuccessDeleteAdmin"]</strong>

        </div>
    </div>
</div>
@if (TempData["SuccessDeleteAdmin"] != null ||TempData["SuccessDeleteUser"] != null)
{
    <script>
        $(document).ready(function () {
            $('#successToast').toast({
                animation: true,
                delay: 3000
            });
            $('#successToast').toast('show');
        });
    </script>
}


