

@await Component.InvokeAsync("Slidebar")

<section id="blog" class="blog">

    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-lg-8 entries">
                <article class="entry">
                    <h1>Index</h1>
                </article>
            </div>



            @await Component.InvokeAsync("AnnouncementDetails")
        </div><!-- End sidebar -->
    </div>
  
</section>


