<nav id="navbar" class="navbar">
    <ul>
        <li><a href="Home/Index" class="active">Anasayfa</a></li>

        <li class="dropdown">
            <a href="#"><span>Hakkımızda</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
                <li><a href="about.html">Misyonumuz</a></li>
                <li><a href="team.html">Vizyonumuz</a></li>
                <li><a href="testimonials.html">Biz Kimiz?</a></li>
            </ul>
        </li>
        <li><a href="services.html">Bilet Satış</a></li>
        <li><a href="/BlogDetails/ListBlog">Blog</a></li>
        <li><a href="/UserRegister/Register" class="getstarted">Üye Ol</a></li>
        <li><a href="/UserRegister/Login" class="getstarted">Giriş Yap</a></li>
    </ul>
    <i class="bi bi-list mobile-nav-toggle"></i>
</nav>
