@using PROJE_UI.Models;
@model List<Blog>
<section id="hero">
	<div class="card-body h-100">
		<div id="carousel-captions1" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner">
				@foreach (Blog item in Model)
				{
					<div class="carousel-item active">
						<img class="d-block w-100" alt="" src="~/Uploads/StaticContent/@item.İmagePath" data-bs-holder-rendered="true">
						<div class="carousel-caption">
							<h3>@item.Title</h3>
							<p>@item.Content</p>
							<a asp-controller="BlogDetails" asp-action="BlogDetails" asp-route-blogId="@item.İd" class="btn btn-danger">Detayını Gör</a>
						</div>
					</div>
				}
				
				
			</div>
			<a class="carousel-control-prev" href="#carousel-captions1" role="button" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carousel-captions1" role="button" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
</section>